.btn {
    width: 183px;
    height: 44px;
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    a {
        color: #fff;
    }
    
}

@media (max-width: 992px) {    
    .btn {
        width: 130px;
        height: 44px;
        font-size: 15px;
    }
}