.btn {
    width: 183px;
    height: 44px;
    border-radius: 50px;
    text-align: center;
    padding: 10px 30px;
    color: #000;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    a {
        color: #fff;
    }
}