.header {
    min-height: 830px;
    background: url('../img/bg/bg.jpg') center (center/cover) no-repeat;
    position: relative;
    &__top {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        align-items: center;
        nav {
            ul {
                display: flex;
                margin-bottom: 0;
                li {
                    padding-right: 40px;
                    list-style-type: none;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }
    }
    .hamburger {
        display: none;        
    }
    .menu {	
        display: flex;
        padding-top: 20px;
        &_item {
            padding-right: 30px;
            list-style-type: none;
            a {
                color: #fff	;
                font-weight: 300;
                letter-spacing: 0.065em;
                font-size: 24px;
                text-decoration: none
            }
        }            
            
    }
    &__down {
        padding: 200px 0 200px 0;
        &__title {
            font-size: 64px;
        }
        &__time {
            display: flex;
            padding-top: 50px;
        }        
        &__item {
            width: 115px;
            height: 115px;
            background: #121212;
            margin-right: 30px;
            align-items: center;
            text-align: center;    
            display: flex;
            justify-content: center;       
            &:last-child {
                margin-right: 0;
            }
        }
        &-timer {            
            font-size: 36px;            
            color: #fff;
        }
        &__descr {
            font-size: 16px;
            color: #FFFFFF;
            opacity: 0.4;
            line-height: 140%;
        }
    }
}