@media (max-width: 1440px) {    
    .container {
       width: 1220px;
    }
}

@media (max-width: 1300px) {    
    .container {
       width: 1140px;
    }
    .work {
        &__img {
            width: 500px;
        }
        &__descr {
            width: 580px;
        }
    }
}

@media (max-width: 1200px) {    
    .container {
        max-width: 960px;
    }
    .students {
        &__quantity {
            width: 250px;
        }
        &__percent {
            width: 500px;
        }
    }
    .work {
        &__img {
            width: 410px;
        }
        &__descr {
            width: 480px;
        }
    }
}

@media (max-width: 992px) {    
    .container {
        max-width: 720px;
    }
    .header {
        nav {
            ul {
                li {
                    padding-right: 10px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        &__down {
            padding: 70px 0 50px 0;
            &__item {
                width: 90px;
                height: 90px;
            }
            &-timer {
                font-size: 28px;
            }
        }
    }
    .students {
        &__quantity {
            width: 250px;
        }
        &__percent {
            width: 300px;
        }
    }
    .work {
        &__img {
            width: 300px;
        }
        &__descr {
            width: 380px;
            p {
                padding-top: 15px;
                font-size: 14px;
            }
        }
        &__computer {
            top: 60px;
            left: 35px;
        }
    }
}

@media (max-width: 768px) {    
    .container {
        max-width: 540px;
    }
    .header {
        nav {
            display: none;
        }
        .hamburger {
            display: block;
            position: absolute;
            height: 16px;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            top: 15px;
            right: 10px;
            span {
                height: 3px;
                width: 30px;
                background:#fff;
                display: block;
            }
            .active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }                        
                    &:nth-child(2) {
                        display: none ;
                    }      
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
                               
            }
        }
        .menu {
            position: fixed;
            display: block;
            left: -100%;
            width: 340px;
            top: 0;
            height: 100vh;
            z-index: 5;
            transition: all 0.6s;
            visibility: hidden;
            &.active {
                left: 0;
                visibility: visible;
            }
        }
    }
    .students {
        &__quantity {
            width: 200px;
        }
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__descr {
            font-size: 14px;
        }
        &__percent {
            margin-top: 25px;
            width: 100%;
        }
    }
    .work {
        padding: 80px 0 80px 0;
        &__img {
           display: none;
        }
        &__descr {
            width: 100%;
            p {
                padding-top: 15px;
                font-size: 14px;
            }
        }
        &__computer {
            top: 40px;
            left: 28px;
        }
    }
}

@media (max-width: 576px) {    
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        &__down {
            &-timer {
                font-size: 24px;
            }
            &__item {
                width: 50px;
                height: 50px;
            }
            &__descr {
                font-size: 12px;
            }
        }
    }
    .students {
        &__quantity {
            margin-top: 20px;
            width: 200px;
            order: 2;
        }
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: column;
        }
        &__descr {
            font-size: 14px;
        }
        &__percent {
            order: 1;
            margin-top: 0;
            width: 100%;
        }
        &__btn {
            margin-top: 20px;
            order: 3;
        }
    }
}