.profession {
    padding-top: 200px;
    background: url('../img/bg/bgc.jpg');
    &__title {
        text-align: center;
    }
    &__wrapper {
        display: flex;
        padding-top: 120px;
    }
    &__item {
        text-align: center;
    }
    &__txt {
        padding-top: 60px;
    }
    &__descr {
        padding-top: 30px;
        color: #fff;
        font-size: 16px;
        line-height: 160%; 
        opacity: 0.3;
    }
}