.start {
    background: url('../img/bg/bgc.jpg')  center (center/cover) no-repeat;
    &__header {
        display: flex;
        align-items: center;
        img {
            padding-right: 20px;
        }
    }
    &__icons {
        width: 127px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-top: 80px;
        width: 324px;
        display: flex;
        flex-wrap: wrap;
        height: 280px;
        align-content: space-between;
        img {
            width: 100%;
        }
    }
    &__txt {
        padding-top: 50px;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: #fff;        
    }
    &__descr {
        line-height: 160%;
        opacity: 0.5;
        font-size: 14px;
        line-height: 160%;
        color: #fff;
        margin-right: 5px;
    }
}