.start {
    background: url('../img/bg/bgc.jpg');
    &__header {
        display: flex;
        align-items: center;
        img {
            padding-right: 20px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__img {
        img {
            margin: 0;
            padding: 0;
        }
    }
    &__txt {
        padding-top: 50px;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &__title {
        padding-top: 80px;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: #fff;
        &_1 {
                padding-bottom: 20px;
        }
        &_2 {
                padding-bottom: 30px;
        }
        &_3 {
                padding-bottom: 45px;
        }
        &_4 {
            padding-bottom: 55px;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 160%;
        color: #fff;
        width: 305px;
        &_1 {
            padding-top: 35px;
        }
        &_2 {
            padding-top: 45px;
        }
        &_3 {
            padding-top: 60px;
        }
        &_4 {
            padding-top: 70px;
        }
    }
}