.teacher {
    background: url('../img/bg/bgc.jpg') center (center/cover) no-repeat;
    &__header {
        display: flex;
        align-items: center;
    }
    &__icons { 
        transform:  rotate(-43deg);     
    }
    &__wrapper {
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        text-align: center;
        width: 250px;
        justify-content: center;
        img {
            width: 190px;
        }
    }
    &__name {
        padding-top: 40px;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        color: #fff;
    }
    &__txt {
        font-size: 16px;
        line-height: 160%;
        padding-top: 15px;
        color: rgba(255,255,255, 0.3);
        z-index: 2;
    }
    &__btn {
        width: 143px;
        margin-top: 30px;
        cursor: pointer;
        align-items: center;
        background: none;
        color: #fff;
        border: 1px solid #FFFFFF;
        border-radius: 50px;
        
        margin: 30px auto 0 auto;        
        transition: all 0.5s;
        &:hover {
            color: rgb(0, 0, 0);
            background: rgba(255, 255, 255, 0.781);
        }
    }
}