.title {
    color: #fff;
    &_fs55  {
        font-size: 55px;
    }
    &_fs48 {
        font-size: 48px;
    }
    &_fs24 {
        font-size: 24px;
    } 
}

@media (max-width: 992px) {    
    .title {
        &_fs55  {
            font-size: 40px;
        }
        &_fs48 {
            font-size: 35px;
        }
    }
}

@media (max-width: 768px) {    
    .title {
        &_fs55  {
            font-size: 40px;
        }
        &_fs48 {
            font-size: 30px;
        }
    }
}

@media (max-width: 576px) {    
    .title {
        &_fs55  {
            font-size: 30px;
        }
        &_fs48 {
            font-size: 25px;
        }
    }
}